<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiningHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/editAdmin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiningHub.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.1/font/bootstrap-icons.min.css">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .navbar {
            background-color: #E57373;
        }

        .btn-custom-hover {
            color: white;
            border: none;
            background-color: transparent;
            transition: background-color 0.3s, color 0.3s;
        }

            .btn-custom-hover:hover {
                background-color: white;
                color: #E57373;
            }

        .nav-link {
            color: white;
            transition: background-color 0.3s, color 0.3s;
        }

            .nav-link:hover {
                background-color: white;
                color: #E57373;
            }

        .nav-link-custom {
            font-size: 1.25rem; /* Adjust font size here */
        }
    </style>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Img/homepage/dininghublogo.png" alt="DiningHub Logo" width="75" height="75" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
               <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="Report" asp-action="Index">
                                <i class="bi bi-bar-chart me-1"></i> Reports
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="FeedbackManagement" asp-action="Index">
                                <i class="bi bi-chat-dots me-1"></i> View Feedback
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="UserManagement" asp-action="Index">
                                <i class="bi bi-people me-1"></i> Manage Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="MenuManagement" asp-action="Index">
                                <i class="bi bi-book me-1"></i> Manage Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="OrderManagement" asp-action="Index">
                                <i class="bi bi-receipt me-1"></i> View Order
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="InventoryManagement" asp-action="Index">
                                <i class="bi bi-box-seam-fill me-1"></i> Manage Inventory
                            </a>
                        </li>
                    }
                    else if (User.IsInRole("Staff"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="InventoryManagement" asp-action="Index">
                                <i class="bi bi-box-seam-fill me-1"></i> Manage Inventory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="OrderManagement" asp-action="Index">
                                <i class="bi bi-receipt me-1"></i> View Order
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="FeedbackManagement" asp-action="Index">
                                <i class="bi bi-chat-dots me-1"></i> View Feedback
                            </a>
                        </li>
                    }
                    else if (User.IsInRole("Customer"))
                    {
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="Menu" asp-action="Index">
                                <i class="bi bi-book me-1"></i> Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
                                <i class="bi bi-cart me-1"></i> Cart
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="Order" asp-action="Index">
                                <i class="bi bi-clock-history me-1"></i> Order History
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="btn btn-custom-hover px-4 me-2 nav-link-custom" asp-area="" asp-controller="Menu" asp-action="Index">
                                <i class="bi bi-book me-1"></i> Menu
                            </a>
                        </li>
                    }
                </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>
    <div class="container" style="flex: 1;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="text-white py-4" style="background-color: #E57373;">
        <div class="container">
            <div class="row text-center text-md-start mb-4">
                <div class="col-md-3 mb-3 mb-md-0">
                    <h3 class="h5">ABOUT Dine Master</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="btn btn-custom-hover text-white my-1">
                                <i class="bi bi-info-circle me-1"></i> About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-custom-hover text-white my-1">
                                <i class="bi bi-bullseye me-1"></i> Mission
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-custom-hover text-white my-1">
                                <i class="bi bi-eye me-1"></i> Vision
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <h3 class="h5">HELP</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="btn btn-custom-hover text-white my-1">
                                <i class="bi bi-question-circle me-1"></i> FAQ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-custom-hover text-white my-1">
                                <i class="bi bi-headset me-1"></i> Customer Service
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-3 mb-md-0">
                    <h3 class="h5">TERMS & POLICIES</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="#" class="btn btn-custom-hover text-white my-1">
                                <i class="bi bi-file-earmark-text me-1"></i> Legal Notices
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="btn btn-custom-hover text-white my-1">
                                <i class="bi bi-shield-lock me-1"></i> Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <p class="mb-0">© 2024 Dining Hub. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        //force footer to be at the bottom
        document.addEventListener("DOMContentLoaded", function () {

            const windowHeight = window.innerHeight;
            const footer = document.getElementById("footer");
            const footerHeight = footer.offsetHeight;
            const documentHeight = document.body.scrollHeight; // Get the total height of the document

            if (documentHeight < windowHeight) {
                if ((windowHeight - documentHeight) > footerHeight) {
                    footer.style.position = "absolute";
                    footer.style.width = "100%";
                    footer.style.bottom = "0";
                }
            }

        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
