<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DiningHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/editAdmin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DiningHub.styles.css" asp-append-version="true" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 navbar" style="background-color: #E57373;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/Img/homepage/dininghublogo.png" alt="DiningHub Logo" width="60" height="60" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav px-2">
                        @if (User.IsInRole("Manager"))
                        {
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">Reports</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="FeedbackManagement" asp-action="Index">Manage Feedback</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="UserManagement" asp-action="Index">Manage Users</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="MenuManagement" asp-action="Index">Manage Menu</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="OrderManagement" asp-action="Index">Manage Order</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="InventoryManagement" asp-action="Index">Manage Inventory</a>
                            </li>
                        }
                        else if (User.IsInRole("Staff"))
                        {
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="InventoryManagement" asp-action="Index">Manage Inventory</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="OrderManagement" asp-action="Index">Manage Orders</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="FeedbackManagement" asp-action="Index">Manage Feedback</a>
                            </li>
                        }
                        else if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Cart</a>
                            </li>
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Order History</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item mx-5">
                                <a class="nav-link" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="flex: 1;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" style="background-color: #E57373;">
        <div class="container-fluid pt-2">
            <div class="row my-1 p-2 text-white border-bottom justify-content-around">
                <div class="col-md-3">
                    <h3>ABOUT Dine Master</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="" class="nav-link text-white my-1">About Us</a>
                            <a href="" class="nav-link text-white my-1">Mission</a>
                            <a href="" class="nav-link text-white my-1">Vision</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>HELP</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item my-1">FAQ</li>
                        <li class="nav-item my-1">Customer Service</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>TERMS & POLICIES</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item my-1">Legal Notices</li>
                        <li class="nav-item my-1">Privacy Policy</li>
                    </ul>
                </div>
            </div>
            <div class="col text-white">© 2024 Dining Hub. All rights reserved.</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        //force footer to be at the bottom
        document.addEventListener("DOMContentLoaded", function () {

            const windowHeight = window.innerHeight;
            const footer = document.getElementById("footer");
            const footerHeight = footer.offsetHeight;
            const documentHeight = document.body.scrollHeight; // Get the total height of the document

            if (documentHeight < windowHeight) {
                if ((windowHeight - documentHeight) > footerHeight) {
                    footer.style.position = "absolute";
                    footer.style.width = "100%";
                    footer.style.bottom = "0";
                }
            }

        });

    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
