@{
    ViewData["Title"] = "Home Page";
}
@using DiningHub.Areas.Identity.Data
    @using Microsoft.AspNetCore.Identity
    @inject UserManager<DiningHubUser> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @if (User.IsInRole("Manager"))
    {
        <p>Manager</p>
    }

    @if (User.IsInRole("Customer"))
    {
       <p>Customer</p>
    }
</div>
