@model DiningHub.Models.InventoryItem

@{
    ViewData["Title"] = "Create Inventory Item";
}



@* div class="edit-container">
    <div class="card">
        <div class="card-header">
            <h2>Create Inventory Item</h2>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Name" class="control-label mb-2"></label>
                    <input asp-for="Name" class="form-control mb-4" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label mb-2"></label>
                    <input asp-for="Description" class="form-control mb-4" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label mb-2"></label>
                    <input asp-for="Quantity" class="form-control mb-4" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label mb-2">Category</label>
                    <select asp-for="CategoryId" class="form-control mb-4">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-save" />
                    <a asp-action="Index" class="btn btn-cancel">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
 *@


<div class="container-fluid shadow rounded-3 mb-5 bg-white pt-4 pb-4">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-sm-8">
                    <h2>Create Inventory Item</h2>
                </div>
                <div class="col-sm-4 text-end">
                    <a asp-action="Index" class="btn btn-secondary btn-lg rounded-pill col-6">Back to List</a>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <form asp-action="Create" method="post">
                <div class="form-group mb-4">
                    <label asp-for="Name" class="control-label mb-2"></label>
                    <input asp-for="Name" class="form-control rounded-pill" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Description" class="control-label mb-2"></label>
                    <input asp-for="Description" class="form-control rounded-pill" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="Quantity" class="control-label mb-2"></label>
                    <input asp-for="Quantity" class="form-control rounded-pill" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group mb-4">
                    <label asp-for="CategoryId" class="control-label mb-2">Category</label>
                    <select asp-for="CategoryId" class="form-select rounded-pill">
                        <option value="">Select a Category</option>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category.Value">@category.Text</option>
                        }
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-success rounded-pill col-9" />

                </div>
            </form>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
