@model DiningHub.Models.AddStaffViewModel

@{
    ViewData["Title"] = "Add Staff";
}

<div class="edit-container">
    <div class="card">
        <div class="card-header">
            <h2>@ViewData["Title"]</h2>
        </div>
        <div class="card-body">
            <form asp-action="AddStaff" method="post">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label mb-2"></label>
                    <input asp-for="FirstName" class="form-control mb-4" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label mb-2"></label>
                    <input asp-for="LastName" class="form-control mb-4" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label mb-2"></label>
                    <input asp-for="Email" class="form-control mb-4" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label mb-2"></label>
                    <input asp-for="Password" class="form-control mb-4" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label mb-2"></label>
                    <input asp-for="ConfirmPassword" class="form-control mb-4" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Add Staff" class="btn btn-save" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
